<a style="text-align:right;font-size:11px;" href="/songs/">Dashboard</a>
<% @user.each do |user| %>
  <p><%=user.first_name%> <%=user.last_name%>'s Playlist</p>
<% end %>

<table style="border:1px solid #999999;background-color:white;width:450px;border-spacing:0px;">


<thead style="background-color:#5A8DB2;font-size:14px;;color:#eeeeee">
  <tr>
    <td style="padding:8px;">Artist</td>
    <td style="padding:4px;">Title</td>
    <td style="padding:4px;">Times Added</td>
  </tr>
</thead>
<tbody>


      <tr style="font-size:12px;">
      
        <td style="padding:4px;"> <%  %></td>
      </tr>




</tbody>
</table>
